[2019-03-31 16:05] eshanrh opened #4 "Weather options do not work until specific option is checked."
Hello! I really liked this watch face, but I found this bug while I was trying it out.

The weather option does not show at first if you just toggle the "Show the temperature" option, or any of the other temperature options, since the watchface doesn't have location permissions yet. It only requests this once you check the "Show the current weather as an icon" option.

It'd probably make more sens

[2019-03-31 17:28] CorvetteCole commented on #4
I figured it shouldn't have location access unless you were doing something that required it (weather). But irregardless, this is a good bug report and I will fix this.

[2019-04-30 17:35] softweaprograma opened #5 "Feature request - toggle Weather to 3rd line (below Date)"
I looked in Play store comments and here and did not find this as a request... so thought I'd put it in. Thanks. I really like the watch face.
![pixelwatch](https://user-images.githubusercontent.com/35231092/56981402-d236bd00-6b4c-11e9-8b68-b42ec7cd7edb.jpg)

[2019-04-30 19:06] CorvetteCole commented on #5
I am considering this but I do not think I will implement it. It does not really fit my design idea for the watch face (to match the pixels). Although this design does present some benefits in looking less cluttered

[2019-04-30 23:40] softweaprograma commented on #5
Ok, Thanks for the response. Hopefully some day you will consider it. I think it makes both the date and weather more readable and more aesthetically pleasing.

[2019-05-14 12:25] softweaprograma commented on #5
Hi, I forked your code and made the changes in my branch for the feature request.
Thank you so very much for releasing the code on github, I learned a lot looking at your code, great job I must say. My code not as good or as clean as yours and there is still some bugs...but does what I was proposing. I am using my updated version on my watch.
Great job again and thank you so very much for this ver

[2019-05-14 15:46] CorvetteCole commented on #5
Hi, can you open up a pull request? I'd be happy to accept this code commit in to the main app. I'm glad you got it working! You will be the first external contributor to the app :)

[2019-05-14 16:59] softweaprograma commented on #5
Hi, Sure, will do... it will definitely need some clean up, I still have some dead (commented) code in there and the toggles may need some minor adjustments... Just want you to know its not perfect, if you are still okay with that, I will do the pull request asap.

[2019-05-14 17:02] CorvetteCole commented on #5
I'm planning on putting it in its own branch and then eventually merging
with master so no biggie. But also you can take your time if you'd rather
clean up the code first!

On Tue, May 14, 2019, 12:59 PM Anthony G <notifications@github.com> wrote:

[2019-05-14 17:13] softweaprograma commented on #5
Ok... I will do the pull request. Thanks.

[2019-05-14 17:53] softweaprograma commented on #5
Done.

[2019-06-17 03:27] CorvetteCole commented on #4
This bug has been fixed in the current GitHub version. Will be released to the Play Store soon.

[2019-06-17 03:27] #4 closed

[2019-08-30 22:28] davwheat commented on #5
Could this be re-opened?

I'd love for this to be a toggle option. I know it doesn't fit the actual pixel lock screen but a smartwatch doesn't have the same screen size as a pixel, so space is much more valuable!

Putting the date and weather on one line looks to cluttered, especially without a separator of some sort between them.

Just like you've recently added the battery indicator (on GitHub a

[2019-08-30 22:31] davwheat opened #7 "Date & weather text difficult to read in ambient mode"
The date and weather text is shown with an outline in ambient mode to prevent/reduce burn-in.

The only issue is that this makes the text much more difficult to read.

Maybe a possible solution to this could either be to increase the font size slightly or replace the outlined text with dark grey solid text in ambient mode.

[2019-08-30 22:33] davwheat opened #8 "Weather icons solid in ambient mode"
The weather icons (at least the cloud) have a solid interior in ambient mode which will cause excess burn-in on the watch.

[2019-08-30 22:34] CorvetteCole commented on #7
hey can you join the beta program and let me know what you think? I've
replaced the outline for date & weather in the beta

On Fri, Aug 30, 2019, 6:31 PM David Wheatley <notifications@github.com>
wrote:

[2019-08-30 22:54] davwheat commented on #7
Sure! Just joined -- I'll report back soon.

[2019-08-30 22:56] davwheat commented on #7
It definitely looks a lot better. One thing I've just realised: won't the small circle showing you have notifications overlap the battery percentage text?

[2019-08-31 03:16] CorvetteCole commented on #7
yes that's a known bug I'm just so busy lately I haven't been able to work on the app much

[2019-09-02 11:34] #7 closed

[2019-10-03 18:13] JacobDB opened #9 "Weather showing incorrect temperature (on Fossil Gen 5)"
Not sure what's up with this, but it seems like my watch has been showing the incorrect weather for awhile now. Honestly not sure if it's a recent change or if it was always like this and I just now noticed (only being using this watch face a few weeks).

Currently it seems like it says it's 85&deg;F, night time, and partly cloudy. It's actually 67&deg;F, day time, and partly cloudy.

[2019-10-13 02:48] JacobDB commented on #9
I think it might just not be updating automatically

[2019-11-22 01:24] CorvetteCole commented on #9
@JacobDB is this problem still present with the latest version?

[2019-11-22 01:25] CorvetteCole commented on #8
I've tested this and the impact of these icons is quite minimal, especially with burn in prevention. I think I will leave these icons as is. Thanks for the feedback

[2019-11-22 01:25] #8 closed

[2019-11-22 14:35] JacobDB commented on #9
Yeah, still broken on 1.4.0, no updates available

[2019-12-19 13:55] araspik opened #10 "Provide direct APKs?"
Could you please build and provide the direct APK files along with the Play Store links? Trying to avoid Google, but it's hard.

[2019-12-19 14:05] CorvetteCole commented on #10
I would love to, unfortunately this app makes use of some Google Wearables
APIs for transferring data between the phone and watch face so I don't know
how it would work on a degoogled device. I can get some APKs for you
regardless

On Thu, Dec 19, 2019, 8:55 AM ARaspiK <notifications@github.com> wrote:

[2019-12-22 08:02] araspik commented on #10
Thanks! I'm going to try to remove my account after sideloading the APKs, and hopefully that lets me use it without Google. I didn't have the associated app installed on my phone and it worked just fine, so hopefully it shouldn't be an issue.

[2019-12-23 18:48] CoolGames opened #11 "Moto 360/screen with chin battery percentage placement off screen"
Cole,
I use the Wear OS on Google Pixel 3a
I can add watch faces on Moto 360 Sport.
I can access Play Store from watch.
Settings says Pixel Watch Face is installed but I am not seeing it.

[code]

I am able to do developer ADB access and Bugreports

[code]

Feature request second hand not seconds digital text.
![WatchFace](https://user-images.githubusercontent.com/149711/71377840-d14b1380-2593-11e

[2020-01-01 07:35] yashdavisgupta opened #12 "Option for Product Sans Light rather than stroked font in ambient mode"
Would you be open to adding an option for the clock to display Product Sans Light rather than an outline of Product Sans while the watch is in ambient mode?
I'm sure you have it bookmarked but here is a download of the font at weight 400:
https://fonts.gstatic.com/s/googlesans/v16/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2

[2020-01-02 06:51] yashdavisgupta commented on #12
I modified the weight to "thin" (200) rather than "light" (400)

[2020-01-07 17:38] JacobDB commented on #9
I'm still having this issue, it's very frustrating because I love this watch face but weather is kind of a key thing for me with a smart watch.

Things I've tried:

- Using the OpenWeatherMap option
- Adding a credit card to Dark Sky
- Resetting the watch
- Resetting the phone
- Ensuring all available permissions are set

None of it makes a difference &ndash; it just won't update in the background

[2020-01-10 01:02] NicholasBM opened #14 "Support for low power co proccesor in 3100"
Hey there

It would be amazing if you were able to take advantage of the co proccesor for your ambient mode. I would hope that would improve battery life on all of the newer devices.

There was a blog about it here

http://turndapage.com/2018/12/07/implementing-the-new-ambient-second-hand-for-wear-os-with-watch-face-decompositions/

Thanks

Nick

[2020-01-11 20:06] softweaprograma commented on #9
I hear you, this watchface is the best hands down. I had to tweak it to add a third line and thats the only watchface I use, I do not need to use Dark Sky for it to work. Just make sure then it starts the first time you give it permissions to access location info.
If you want, you can try my apk with the third row here, I have a picture and a screenshot also in my repo [here](https://github.com/so

[2020-01-11 20:10] CorvetteCole commented on #9
hey @JacobDB this is a very weird issue because I've literally never seen it and cannot reproduce it. What watch and WearOS version are you using? I am using the built in JobScheduler API so I don't really control when it updates. What this means is the OS chooses to update depending on network conditions, usage, etc. It is part of how I maintain the great battery life. Regardless, I will attempt

[2020-01-11 20:11] CorvetteCole commented on #14
good idea, I will add a second indicator for newer devices in a future update

[2020-01-11 20:13] CorvetteCole commented on #10
It should work fine but weather may never work and some functionality will be unsupported

[2020-01-11 20:13] #10 closed

[2020-01-11 20:15] CorvetteCole commented on #11
I've been very busy lately but I will attempt to fix the battery percentage soon using some voodoo math I've come up with

[2020-01-12 02:12] JacobDB commented on #9
I'm afraid I'll jinx myself by saying this, but it seems to be working again. Didn't change anything, so no idea why it's start all of a sudden. This has seemed to happen before but then it broke again, so I'm keeping my fingers crossed.

Super weird that it wouldn't update if you're just using the built-in scheduler...

[2020-01-12 02:18] CorvetteCole commented on #9
1.4.0 actually replaced a janky homebrew scheduler with the official API which is why I have some visible confusion. Anyhow, let me know if it breaks again and I'll do my best to fix it

[2020-01-21 20:12] MiLeX84 opened #15 "Additional complications support"
Would be nice to have the option to add complications.
I currently have two in mind.

- Hearth Rate
- Google Fit progress

[2020-01-24 15:20] #12 closed

[2020-02-10 07:29] motorro opened #16 "Feature request: make the WearOS logo an option"
Hi! Thanks for the great watch-face!
Could you please consider displaying WearOS logo an option?
Having only the data widgets looks better for me :)
The more advanced feature would be a toggle + custom logo upload of cause ;)

[2020-02-25 17:06] CorvetteCole commented on #16
WearOS logo will become an optional feature with default off in the next update (I like that more too). Thanks for the feedback!

[2020-02-26 11:02] pchristod commented on #9
Hey,
I don't want to open another Issue but I'm having the same problem. The Weather Update has always been very unreliable but as of a few days it stopped completely refreshing itself. I have the same Weather as the last time I refreshed it manually. Manually in this case means opening the App on the Phone and toggling between Dark Sky on/off, then it refreshes once. I have not received any Wear

[2020-02-26 13:11] CorvetteCole commented on #9
@pchristod this is a very interesting issue to me. This shouldn't be a bug in my code, rather Google's. Anyhow it is clearly happening even though I cannot reproduce it. Is it still happening reliably for you? If so I might invite you to an internal testing branch so you can get a debug version of the watch face. I will try to change a few things and release a new version shortly as well to stable

[2020-02-26 13:13] JacobDB commented on #9
Glad to hear it's not just me, this has been driving me crazy. It's my favorite watch face by far so it's been pretty frustrating not having weather be at all reliable.

Still happening consistently for me, but occasionally I'll get periods where it works fine (I'd say it works maybe 1% of the time).

[2020-02-26 13:30] pchristod commented on #9
@CorvetteCole Yes, sure. I'm happy to help.
And yes, this is happening conistently for me, much like @JacobDB says in his comment. It's exactly the same, occasionally it works but most of the time it doesn't.

I'm not sure where the problem could be. Which Watch are you using @JacobDB?

[2020-02-26 14:37] JacobDB commented on #9
Same as you, Fossil Gen 5 (Carlyle).

I had a thought this morning, not sure if it matters &ndash; when I get to work I usually turn off Bluetooth on my phone. My watch remains connected to WiFi, and when I leave work, I turn Bluetooth on my phone back on. To be clear, the weather doesn't update regardless of Bluetooth status (i.e. on weekends), so it may be irrelevant, I just thought it might be

[2020-02-26 14:42] CorvetteCole commented on #9
This could be a device specific bug since I'm using system APIs to schedule refreshes. I'm going to look at the code a bit more and gather some information together and I'll put it here. Worst case scenario, I'll implement a separate workaround method for devices that don't work right. One more question, what version of WearOS are you on?

[2020-02-26 14:53] JacobDB commented on #9
I'm on Wear OS 2.13, System Version H, Security Patch January 1, 2020

[2020-02-26 14:53] pchristod commented on #9
Ok, this narrows it down I guess. Having the same watch is a strong indicator. I have it the other way around Jacob, I turn BT off (on my phone) when I go to sleep so the watch is on WiFi and turn it on when I go to work. But I also don't think that matters because I haven't seen any difference.

@CorvetteCole I'll write down every version in case you need it:

WearOS: 2.13
System: H
Home App: 2.3

[2020-02-26 15:04] CorvetteCole commented on #9
The turning off of bluetooth may actually be where this bug originates from. I'm wondering if the API I'm using doesn't "see" wifi as having a network connection and instead waits for bluetooth. I am checking on how I have the time delay set up but it will increase how long it waits between every attempt after every failure. So this might be related. Could one of you try leaving bluetooth on and s

[2020-02-26 15:13] pchristod commented on #9
That would make sense if BT were off, however when I'm using my watch actively (meaning wearing it) BT is always on. During those times it doesn't refresh. Maybe I didn't express this properly in my last post, sorry. In easy terms:
Wearing the watch = BT is always on
Not wearing the Watch = BT is off (however only on the Smartphone, not the watch)

[2020-02-26 15:15] CorvetteCole commented on #9
Yes, but after enough failures the watch will wait for up to I believe 3 days before trying again. In case you were camping or somewhere without internet so I don't destroy your battery life. It is possible the watch has simply scheduled the update too far out after enough failures. I'm reviewing the code shortly to check if this could be our problem

[2020-02-26 15:20] pchristod commented on #9
Ah, that would make sense. Good explanation. Thank you for looking into it, please do let me know if I can help in any way.

[2020-02-26 15:27] JacobDB commented on #9
I'm leaving Bluetooth on today to see how it goes, will report back.

[2020-02-27 15:25] JacobDB commented on #9
Left Bluetooth on all day yesterday, and so far this morning; it seems to have helped, but I don't think it entirely solved the issue. I definitely saw it update a few times yesterday, but it also got stuck a couple of times forcing me to reset it (turn the DarkSky API off and on). This morning when I woke up it just showed "&ndash;" for the weather, so I again reset it, but it doesn't seem to be

[2020-02-27 15:33] CorvetteCole commented on #9
Does your watch stay on and connected all night while charging? It is
curious that it displays "-". This would mean that it lost the weather
object that was kept in memory somehow. This is potentially shaping up as a
WearOS/fossil bug I'll need to workaround

On Thu, Feb 27, 2020, 10:27 AM Jacob Bearce <notifications@github.com>
wrote:

[2020-02-27 15:50] JacobDB commented on #9
I mean, I literally just plugged stuff in to charge, I didn't turn my watch or phone off, or adjust any settings or anything, so as far as I'm aware I'd think it'd stay connected.

[2020-02-27 17:02] CorvetteCole commented on #9
@JacobDB @pchristod if you could send the Google account email you would like to use to corvettecole@gmail.com I will add you to the internal testing track on the play store. Beware, this version contains unfinished features and potential bugs (in-dev)

[2020-02-27 17:09] CorvetteCole opened #17 "Thin text toggle broken"
- Thin text toggle on phone does not function
- Thin text is on by default when it should be off by default

[2020-02-27 17:44] CorvetteCole commented on #17
latest commit should fix this

[2020-02-27 17:50] CorvetteCole opened #18 "watch face crash upon rapid and repeated toggling of options in companion app"
as the title says. this bug needs to be fixed. probably will need to track down the issue using adb and a debug version of the application on a watch

[2020-02-27 17:54] CorvetteCole commented on #5
@davwheat is this still desired? considering implementation now

[2020-02-27 18:29] davwheat commented on #5
I mean I'd love to have it as an option. I just need to buy a new watch to use it :P

[2020-02-27 19:21] CorvetteCole opened #19 "Use relative measurements and account for screen shape etc"
see relevant documentation here: https://developer.android.com/training/wearables/watch-faces/issues

this may involve moving system indicators etc

[2020-02-27 19:22] CorvetteCole commented on #11
#19 will fix this issue when it is implemented. Until then, I will leave this open

[2020-02-27 19:36] CorvetteCole opened #20 "Switch from okhttp to volley"
okhttp is not as reliable as volley and switching would remove a source of error for #9

[2020-02-27 19:54] CorvetteCole opened #21 "Optimizations"
https://developer.android.com/training/wearables/watch-faces/performance

[2020-02-27 20:07] CorvetteCole opened #22 "simplify settings, optimize formatting"
see here for an example: https://github.com/android/wear-os-samples/blob/master/WatchFace/Wearable/src/main/java/com/example/android/wearable/watchface/watchface/DigitalWatchFaceService.java

basically use SimpleDateFormat and just get the default locale. same with whether 24 hour mode should be used. evaluate removing those settings because it feels redundant when they are already managed by the

[2020-02-27 20:08] CorvetteCole commented on #16
This has been added to the GitHub in a recent commit, it should be available in the Play Store once 1.4.1 is complete

[2020-02-27 20:08] #16 closed

[2020-02-27 20:10] CorvetteCole opened #23 "Provide configuration activity on watch face"
Allow user to change most settings in the configuration menu given to watch faces.

see here: https://developer.android.com/training/wearables/watch-faces/configuration

[2020-02-27 20:13] A37stKpDodi4BEr65TXb commented on #9
Hi,
I have the same issue of weather not updating on my Fossil Gen 5 Carlyle.
I do however put my watch in airplane mode overnight so it's completely disconnected.

[2020-02-27 20:28] motorro commented on #9
Hi,
Excluding phone app from power saving seems to help.
Weather has been updating for two days already.
So it might be the scheduler problem (just an assumption)
Android 8.1 and Fossil Gen5

PS: Irrelevant, I guess. Never done WearOS - thought there is some phone task with a sync. Took a look at the source - and there is no :(

[2020-02-27 21:55] CorvetteCole commented on #9
@motorro what watch do you use?

[2020-02-28 03:05] motorro commented on #9
@CorvetteCole
Fossil Gen 5 Carlyle

[2020-02-28 14:52] CorvetteCole commented on #9
excluding the phone app from power saving should have 0 effect as the watch face is not dependent upon phone syncing

[2020-02-28 14:58] motorro commented on #9
@CorvetteCole, yes. I've admitted it in PS to original post after source review :(
Just left it there as a false assumption so others may skip it at once :)
It seemed to work for me because watchface has started to display *some* weather info since power adjustment. It was "--" most of the time before.

[2020-02-28 16:25] CorvetteCole commented on #9
@JacobDB @pchristod any luck with the latest version?

I added a set flex period in hopes that that might workaround any bugs regarding scheduling on the Fossil Gen 5

[2020-02-28 16:26] CorvetteCole commented on #17
there are still some issues regarding this, especially when settings are changed in ambient mode

[2020-02-28 17:39] JacobDB commented on #9
So far it does seem better &ndash; I haven't reset the API today, and it's been updating correctly all morning (currently 29 API calls today).

[2020-02-28 18:06] CorvetteCole commented on #9
I made a change which added a "flex interval" for when the recurring weather updates need to be completed. Basically, I am telling the OS now that it needs to check for weather every 30 minutes. But it can run the weather check any time within 15 minutes of the end of the 30 minute period. I have my suspicions that strictly scheduling this flex interval may get around this bug on the Fossil Gen 5.

[2020-02-28 18:07] CorvetteCole commented on #9
@JacobDB I am hoping this fix lasts because it is a relatively easy workaround to implement

[2020-02-28 18:14] CorvetteCole opened #24 "Finish implementation of optional iap"
- finish implementing the in-app purchase in the phone app that allows you to support development by donating small amounts of money through Google Play Store billing

[2020-02-28 18:39] CorvetteCole commented on #17
fixed in https://github.com/CorvetteCole/PixelWatchFace/commit/ff6e51b9dd3e95271e49b166ba05dbd06488258e

[2020-02-28 18:39] #17 closed

[2020-02-29 12:55] pchristod commented on #9
Hey, I have not yet been able to test it thourougly. I usually don't use my watch on weekends very much so its easier to verify it beginning next week when I use it for work again.

[2020-03-02 18:32] JacobDB commented on #9
It seemed better for a day or two, but this past weekend and today it's back to its normal weirdness...

![image](https://user-images.githubusercontent.com/1123997/75705891-eaea9480-5c81-11ea-920e-5a7807951bc2.png)

[2020-03-02 18:44] CorvetteCole commented on #9
@JacobDB that is interesting but disappointing. I'm going to add some logging to it and then release that update to you guys. Will let you download some logs from the phone app so I can hopefully get a better idea of what is going on. Will update you in a little bit!

[2020-03-02 18:58] ammacca-banane commented on #9
I can confidently confirm that I have the same problem on my Huawei Watch 2 (LEO-BX9), Wear OS 2.13, App Home 2.32, Oreo 8.0.0 (definitely not the H update, never received it).
I put some logs here and there, and I saw that the initWeatherUpdater() is called as expected, and the PeriodicWorkRequest is queued correctly, but I can't see any of the logs that I put into the startWork() method of the W

[2020-03-02 19:00] CorvetteCole commented on #9
that is some good information @lorenzo-geromel but raises more questions than answers. I have no idea why it wouldn't start the work. This is especially hard because I cannot reproduce this issue on my end at all

[2020-03-02 19:03] CorvetteCole commented on #9
Turning on/off temperature/weather uses a OneTimeWorkRequest instead of the periodic one so at least that is bug free. I'm beginning to wonder if periodic work is broken on some WearOS devices and versions. My Skagen Falster 2 works fine

[2020-03-03 02:22] CorvetteCole commented on #11
fixed in latest release

[2020-03-03 02:22] #11 closed

[2020-03-03 02:23] CorvetteCole commented on #19
partially done, still a bit more to do

[2020-03-03 13:14] pchristod commented on #9
Hey,
I tried the current debugging version yesterday and today and could see definite improvements like Jacob in that timeframe but then it started to get weird again like he says.
Another Question: Isn't it possible to use another implementation, like Google itself for problematic devices (the two we know of). Or would that change nothing? Because Watch Faces utilizing the Wear OS Weather complic

[2020-03-03 16:20] CorvetteCole commented on #9
hey @pchristod I am not aware of a Wear OS weather complication, but if there is one I might like to integrate that in favor of my current system. In regards to using another implementation, I switched from a previous implementation to using the system JobScheduler to reduce code complexity and error on my end, and I guess I am trying to avoid re-introducing that. But it could definitely be done.

[2020-03-03 19:12] pchristod commented on #9
Hey @CorvetteCole maybe I misphrased that. With another implementation I meant using the Wear OS one. I'm not sure but aren't the Stock Watchfaces like the Fossil ones doing it like that? Select the WearOS Weather complication and display the weather through that. So it's all on a system level rather than being handled by the application itself.

[2020-03-03 19:25] CorvetteCole commented on #9
@pchristod you are right, however, that would require a user to pick the complication. Or at least I haven't figured out how to just get the weather complication. I'm trying to only allow weather there, but I suppose I could consider opening the weather line up to any complication

[2020-03-03 19:28] CorvetteCole commented on #9
@JacobDB @pchristod I released a new update to the internal testing branch which doesn't schedule period requests as often. This could potentially help. I have some other ideas for fixing this I am working on.

[2020-03-03 19:35] CorvetteCole commented on #9
anyone who is having problems, do you mind uninstalling the watch face and reinstalling it? Or just update to the latest version and clear the data. I am wondering if we have an old weatherupdaterworker that has stuck around and no longer works properly

[2020-03-04 01:34] CorvetteCole commented on #9
hate to bug you all with comments here, but I've made a significant change to how I handle weather updates in the latest internal release (released about 10 min ago). If you could test it out and let me know, I think it should fix your issue. @pchristod @JacobDB

[2020-03-04 01:36] JacobDB commented on #9
No worries, installing now, will report back tomorrow 😊

[2020-03-04 01:38] CorvetteCole commented on #18
closing this issue because I am unable to reproduce it

[2020-03-04 01:38] #18 closed

[2020-03-04 17:29] JacobDB commented on #9
Things are looking good so far, I've had about 20 requests to the API today with no futzing with the app.

[2020-03-04 18:48] CorvetteCole commented on #9
@JacobDB good to hear. It should continue to work that way. I just went through a massive rewrite of all the network related code which I will release in an update later today to you guys. Should fix some small hangs you might notice when the weather is updating. Much nicer organization wise and a better way to do it. Will let you know, but if the next update also works well I will be able to clos

[2020-03-04 20:55] CorvetteCole commented on #20
latest commit accomplishes this

[2020-03-04 20:55] #20 closed

[2020-03-04 20:57] CorvetteCole commented on #9
Just released the latest update to the internal testing and beta branches @JacobDB @pchristod .

If this update works right for you guys I will close this issue and consider this bug solved! I will wait a few days to make sure

[2020-03-05 08:30] lucasdesvages opened #25 "Adapt time position in ambient mode"
When only the time is displayed in ambiant mode, it should be centered on the screen.

[2020-03-05 18:38] CorvetteCole commented on #9
hey all, do you mind giving me an update on if this issue is still present? If not I will be closing this shortly. Thanks for your patience and help :). @JacobDB @pchristod would you like to be removed from the internal testing branch? I pushed the latest update to production.

Thanks again!

[2020-03-05 18:38] JacobDB commented on #9
Yeah, all seems good for me. Feel free to remove me.

[2020-03-05 18:39] CorvetteCole commented on #25
When you mean only the time, can you clarify the cases a bit?

For example, if battery percent is shown in ambient should the time be centered still?

Thanks for making this issue

[2020-03-05 18:41] CorvetteCole commented on #9
closed for now. Feel free to comment if you are still having problems.

[2020-03-05 18:41] #9 closed

[2020-03-05 18:44] davwheat commented on #25
In my opinion, the time should always be exactly centred.

On Thu, 5 Mar 2020, 18:40 Cole Gerdemann, <notifications@github.com> wrote:

[2020-03-05 18:48] CorvetteCole commented on #25
@davwheat the only reason it isn't is because I feel like it cramps up the screen when the battery percentage is enabled. If that isn't as much a problem for people I think what I might do is center the time always, but move it up when displaying an at a glance style next event widget underneath the time (future planned feature). I could provide an option for this but there are so many settings al

[2020-03-05 18:57] lucasdesvages commented on #25
![IMG_20200305_194953](https://user-images.githubusercontent.com/15828799/76015428-7df22b80-5f1b-11ea-9b6f-adb47af14a4f.jpg)
This picture that illustrates my point I think. It is ambient mode. And in my setup, logo, battery, date/weather in ambient mode are off

[2020-03-05 19:06] CorvetteCole commented on #25
I see what you mean. I'm a bit worried about having a different position of the time in ambient vs not (since the info bar is below it in live mode). Would you think the time should be centered then as well and just pin the infobar under it?

I'm thinking if the user chooses to not show infobar in ambient, the time will center itself on the watch, otherwise it will behave as it already does

[2020-03-05 19:41] pchristod commented on #9
Hey,
yes, you can remove me too if you like. I also didn't have any problems with the latest release, worked flawless today. Thanks!

[2020-03-05 20:08] lucasdesvages commented on #25
I agree. It has a better effect when going from a mode the other. The time should be at the same position in both modes.

I am okay with that too.

By the way, it is awesome to ask for our opinion. You are making a great work on this app!!

[2020-03-05 20:11] davwheat commented on #25
With more and more options, it might be worthwhile separating them into
separate categories in the app.

On Thu, 5 Mar 2020, 20:08 lucasdesvages, <notifications@github.com> wrote:

[2020-03-05 20:11] CorvetteCole commented on #25
right, sounds good then. Thanks for the clarification. Love hearing from the users to make sure I can make this the best app for us all to use :)

[2020-03-05 20:13] CorvetteCole commented on #25
@davwheat I'm going to completely redesign the phone app shortly. The rough idea I have is give the user 3 preset "config" of settings that they can pick through with an easy preview of all 3 initially. Then they can customize that however they choose with all the existing settings (sorted in to categories)

[2020-03-05 20:20] davwheat commented on #25
That sounds fab! Looking forward to it :)

[2020-03-05 21:21] plcbern opened #26 "Add seconds information"
I really love the watch face but to use it as my daily face I need the seconds on the live screen. Is it possible to add it as an option?

Thanks!

[2020-03-05 22:10] CorvetteCole commented on #26
I don't think I will be adding this. It goes against the design philosophy for my watch face. Why do you want seconds? You might be able to change my mind

[2020-03-05 22:17] plcbern commented on #26
I have a "thing" for being on time for everything. Without the seconds information I'm always wondering when it's the right time.
Because I understand it's a design change, it could be an option that you could enable/disable at will.
Anyway, congratulations on an excellent watch face!

[2020-03-07 03:57] davwheat commented on #9
Now it's showing temp again? This is so weird...

---

My temperature is still not showing, but I'm also not seeing any API calls in DarkSky.

I have Wi-Fi turned on and Bluetooth connected. I'm also enrolled in the beta updates.

It's been showing —,–°C for around 10 hours.

(Fossil Sport, FTW4019)

![Screenshot_2020-03-07-03-57-15-11](https://user-images.githubusercontent.com/7406822/76136294-c4

[2020-03-09 16:33] CorvetteCole commented on #25
https://github.com/CorvetteCole/PixelWatchFace/commit/2a01c416afb1d9ef7d0a03000eefe0f5d66ab2d4 implements this, although the position of the time will change between ambient and not. I will be testing this in beta at some point before a wider release to listen for complaints. Not rolling out to the Play Store yet.

[2020-03-09 16:33] #25 closed

[2020-03-09 16:35] davwheat commented on #25
Can't wait to get the beta version (if you're rolling that to the play
store).

On Mon, 9 Mar 2020, 16:33 Cole Gerdemann, <notifications@github.com> wrote:

[2020-03-09 17:46] CorvetteCole opened #27 "full rewrite of phone app"
Full rewrite of the phone companion app is necessary. here are some vague ideas on what the new one will do differently:

- proper data separation as per android architecture components guidelines
- data binding for ui
- no hardcoded settings or stored values in the phone app, they load dynamically from the current settings etc stored on the watch face. this allows me to add settings to the watch

[2020-03-09 17:59] KenMizz opened #28 "Allow set up geometric coordinates for weather data"
Since PixelWatchFace is using OpenWeatherMap to get weather data as default, how about adding up a feature where user can type in the coordinates as location to fetch the weather data
![image](https://user-images.githubusercontent.com/16635884/76242547-48945900-620d-11ea-9ebc-c14e83f2d416.png)

it would benefits the user that don't like to turn on the location permission(like me:P)

by the way, th

[2020-03-09 18:56] CorvetteCole commented on #28
this is a good idea, will implement in 1.6.0 release

[2020-03-09 19:17] KenMizz commented on #28
Thank u

[2020-03-10 17:47] CorvetteCole commented on #24
moved to 1.6.0 as a part of #27

[2020-03-10 17:49] CorvetteCole commented on #19
things to do:
- go through code looking for any more non-ratio based rendering code
- move naked literals to constants class
- work out auto scaling for font size, or add a setting to allow the size of the time etc to be adjusted manually

[2020-03-22 23:32] CorvetteCole commented on #26
this may be included in an update that takes advantage of the 3100, as referenced in #14

[2020-03-31 16:25] sma11stars opened #30 "never sleep/never low power mode"
Any chance you can add a setting for the watchface to never sleep; to always stay on full power mode?

I have the ticwatch pro and after a few seconds the watchface goes into a lower power outline mode that uses less pixels on my oled screen. I would prefer the watchface to stay pretty with that beautiful solid font you programmed in at all times even if it negatively affects my battery.

[2020-03-31 16:44] davwheat commented on #30
You do realise that this will just end up causing burn-in?

There's already an thin font if you'd rather have that instead of outlined text. You can configure all the options from the phone app.

[2020-03-31 18:25] CorvetteCole opened #31 "watch face has no icon on WearOS"
In the "apps" category of the settings, the watch face has no app icon. Just the default Android one.

For this issue:
- Add app icon for watch face

[2020-03-31 18:27] CorvetteCole commented on #19
This issue is complete and 1.5.0 will be rolling out shortly.

[2020-03-31 18:27] #19 closed

[2020-03-31 18:32] CorvetteCole commented on #10
@araspik I have started publishing APKs upon major releases (milestone completions). You can find them in the "releases" category

[2020-03-31 19:01] davwheat opened #32 "Dark Sky API possible shutdown"
https://blog.darksky.net/dark-sky-has-a-new-home/

Since Apple are now taking over Dark Sky, they may close their API at the end of 2021.

[2020-04-01 00:04] CorvetteCole commented on #32
Well this sucks. I am running in to limitations with OpenWeatherMap's free API now as well, due to the number of users some weather updates are unreliable. My only option right about now is to start charging people a subscription price for weather access. It would only be like $3/yr but I am worried about being crucified by angry users :/. Thinking about building my own weather api....

[2020-04-06 16:21] CorvetteCole commented on #32
@davwheat would you think users would be willing to pay for the weather? I'm looking for input on this, I cannot afford to provide it at no charge and I am hitting free API limitations causing unreliable weather updates at the moment

[2020-04-06 16:39] davwheat commented on #32
I honestly  wouldn't. If I need to know the weather, I'd use my Alexa or Nest Mini, or just ask the Assistant on the watch, or open the weather app.

I'm sure some people would, but not that many.

Some alternatives (definitely not as good as Dark Sky) could be...

- https://weatherapi.com
- https://weatherstack.com

These both have free tiers, and we could enter our own API keys like we did with

[2020-04-14 19:12] nyoma-diamond commented on #32
This might be slightly unrelated, but I've noticed that even with an existing Dark Sky API key I am unable to get weather data. OpenWeatherMap also doesn't work.

[2020-04-14 19:23] davwheat commented on #32
I've had issues like that but I don't know why. It could be WearOS trying to optimise battery?

It's never lasted that long, and usually starts working after a few days.

[2020-04-14 21:32] CorvetteCole commented on #32
@napostrophe make sure your Dark Sky API key is correct. My other suggestion would be clear the watch face app data or reinstall. I have a new "wizard" that makes sure everything is set up properly for weather updates. Still need to figure out what to do with these weather thing...

[2020-04-28 15:44] ghost commented on #15
I would love at least one complication available - Google Fit Stats' Steps. Your app already displays everything else I need!
Do we have a date for the v1.6 release?

[2020-05-01 07:55] mucke5 opened #33 "Adjust color in ambient mode"
I'd like to be able to change the color in ambient mode... instead of white, indigo blue would be less brilliant at night. Thanks for an update!

[2020-05-01 08:02] mucke5 commented on #32
Each user could create their own free API key from Weatherbit and enter it into the app?
![https___www weatherbit io_account_dashboard](https://user-images.githubusercontent.com/13103826/80791724-cd0eb280-8b92-11ea-9aca-6fa354309a27.png)

[2020-05-01 20:28] CorvetteCole commented on #32
I have a rough plan now if anyone wants to give feedback on it.

Stage 1:
By May 20th, release an update that does the following:
1. Disables weather by default (including on current installs)
2. Shows a pop up on the watch after update which prompts the user to open the phone app to re-enable weather
3. In the phone app, include a brief explanation of why weather was disabled (unreliable and no m

[2020-05-01 20:31] CorvetteCole opened #34 "Disable weather by default (including on previous installs)"

[2020-05-01 20:33] CorvetteCole opened #35 "Prompt user on watch to install and/or open the phone app to enable weather"
Show a pop up on the watch after updating to this version which prompts the user to open the phone app to re-enable weather. Never shows again after the user presses the continue button.

[2020-05-01 20:35] CorvetteCole opened #36 "In the phone app, include a brief explanation on why weather was disabled"
This should be at the top of the interface and super easy to see

[2020-05-01 20:37] CorvetteCole opened #37 "Add weather enable one time in-app purchase to the phone app"
Should be displayed under the explanation for weather being disabled. When purchased, the toggles to enable temperature and weather icon showing will be made active. When not, these toggles will be grayed out and will point users to the explanation at the top

[2020-05-01 20:41] CorvetteCole opened #38 "Replace watch weather API"
- Remove OpenWeatherMap weather API
- Create overall weather api class to allow for future usage of multiple weather APIs

- get worldwide METAR data and see if that is accurate enough (see here https://www.aviationweather.gov/help/webservice?page=metarjson)

- attempt to get the current weather using weather.gov api
- if it fails, fall back to using the other APIs and
  - hold one location fix pe

[2020-05-01 20:56] CorvetteCole opened #39 "Find and fix ANR"
Lots of ANRs from this: "Broadcast of Intent { act=android.intent.action.TIME_TICK flg=0x50200014 (has extras) }".

This can be triggered by something blocking the UI thread for more than 5 seconds.

Note: onReceive() of a BroadcastReceiver runs in the main thread.

Sounds like the app is doing something big every once and awhile when the time ticks

[2020-05-01 21:00] CorvetteCole commented on #39
This is likely related to something that happens during the initial app start, as about the same percentage of users with this ANR are also experiencing "cold starts" (starts that take more than 5 seconds).

This may not be a bug worth fixing at all if it only affects background work for a tiny subset of users once or twice (about 0.05% of users experience this).

[2020-05-01 21:03] CorvetteCole commented on #33
Not sure when you can expect 1.7.0 to be completed, but development should speed significantly past May 10th so it will be in sometime this summer for sure

[2020-05-01 21:12] CorvetteCole commented on #27
@MenosGrante I saw you at one point forked the project to work on a phone app redesign. Would you be interested in working with me on this? If no I totally understand!

[2020-05-01 23:44] hexus78 opened #40 "Thin text request"
Is it possible on the next update to allow the thin text on the full display as well as the ambient? Looks much more modern.

[2020-05-02 00:11] davwheat commented on #32
Could you please keep an option to use the Dark Sky API from now on? Even just a hidden option that needs you to tap somewhere 10 times to enable? I don't see any reason to disable functionality that still works for another year and a half.

[2020-05-02 22:02] CorvetteCole commented on #32
@davwheat I guess my reply never got posted, I swear I wrote it and commented.... Anyways, yes I will keep the Dark Sky API for now. Good suggestion. If you have a Dark Sky API key saved when I release this next update, you will have access to the Dark Sky and weather settings, otherwise they will be grayed out for users until they complete the in-app purchase. At some point the Dark Sky API will

[2020-05-02 22:03] CorvetteCole commented on #32
You can track the status of this issue fix at https://github.com/CorvetteCole/PixelWatchFace/milestone/4

I will be closing this issue for now

[2020-05-02 22:03] #32 closed

[2020-05-02 22:05] CorvetteCole commented on #34
Do not disable weather if Dark Sky is being used and an API key is present

[2020-05-02 22:51] CorvetteCole commented on #40
I'll put this in the 1.6.0 update as it will be very easy to implement. The next update is a quickfix for weather but you should see this sometime in the next month or two

[2020-05-02 23:43] hexus78 commented on #40
Thanks Cole much appreciated.

On Sun, May 3, 2020, 06:52 Cole Gerdemann <notifications@github.com> wrote:

[2020-05-16 13:16] quarryy opened #41 "HR"
would be nice to have the option to dispaly heart rate on watch face

[2020-05-17 14:04] HamsterHam88 commented on #15
Steps would be great if possible to add.

[2020-05-17 15:28] CorvetteCole commented on #15
@AntoninHrbatsch you can expect it in about a month, maybe a little more. I am currently in the middle of a full scale rewrite of weather to use a bunch of different APIs

[2020-05-17 15:28] CorvetteCole commented on #41
see #15 for further tracking, realized this is a duplicate

[2020-05-17 15:28] #41 closed

[2020-05-19 03:31] CorvetteCole commented on #38
METAR parsing support from the Aviation Weather Center is now complete.

API falling back etc is complete.

New icons is complete.

Remaining APIs need to be implemented (easy) and this will be considered done

[2020-05-20 04:13] #38 closed

[2020-05-22 00:29] CorvetteCole opened #42 "Allow user to tweak the size of screen elements"
This way users can change the scaling of things to match their preferences on their watch.

[2020-05-22 02:26] CorvetteCole opened #43 "Get rid of singleton pattern used with Settings.class"
Singletons break unit testing and are generally considered poor design

[2020-05-22 21:08] JacobDB opened #44 "Add option to display Google Fit rings around the face"
I'm not sure if this is possible, but it'd be really awesome if there was an option to display Google Fit's "rings" around the outside of the watch face.

[2020-05-26 20:00] CorvetteCole commented on #44
I do not think this is possible, but step counting is a planned feautre

[2020-06-02 20:03] #35 closed

[2020-06-02 20:03] #34 closed

[2020-06-02 21:23] #36 closed

[2020-06-03 02:11] #37 closed

[2020-06-06 10:51] davwheat opened #45 "New onboarding messages don't scale correctly"
![IMG_20200606_115029](https://user-images.githubusercontent.com/7406822/83942531-0ff42380-a7ec-11ea-9c79-b1262ce6f745.jpg)

[2020-06-06 13:42] CorvetteCole commented on #45
thanks for the bug report, this is why I'm running it through beta before full release. I'll fix this by autoscaling text, thanks for the bug report!

[2020-06-07 17:20] CorvetteCole commented on #45
@davwheat what watch is that? For testing purposes

[2020-06-07 17:20] davwheat commented on #45
It's the Fossil Sport (4th Gen)

[2020-06-07 17:20] CorvetteCole commented on #45
thanks!

[2020-06-07 17:44] CorvetteCole commented on #45
@davwheat did any of the other onboarding dialogs present similar behavior or just this one? I just fixed this layout but may change the others if there are problems with them

[2020-06-07 17:45] davwheat commented on #45
It was the same case with the others too.

[2020-06-07 17:47] CorvetteCole commented on #45
got it, thanks again. Will fix all of these. Would you like to be made an internal tester of the app? Updates made to internal testing are much more likely to be broken but they are a lot faster for testing purposes. If no, I understand. If so shoot an email to support@corvettecole.com with your google account email and I'll add you to the internal testing group

[2020-06-07 17:51] davwheat commented on #45
Pinged off an email! :)

[2020-06-07 19:03] CorvetteCole commented on #45
I have pushed an update fixing this to the internal testing branch. You should see an update on your watch available immediately. To trigger the onboarding dialogs, reset the app data of the watch face (your settings will all be resynced when you trigger a change in the phone app). I will re-open this if you find it to still be an issue, thanks!

[2020-06-07 19:03] #45 closed

[2020-06-07 19:13] CorvetteCole commented on #24
iap is implemented in 1.5.5 and will be carried over in the phone app rewrite, this issue is no longer needed

[2020-06-07 19:13] #24 closed

[2020-06-07 19:15] CorvetteCole commented on #26
moved this issue to the 1.7.0 release along with #14

[2020-06-07 19:22] CorvetteCole opened #46 "Add custom notification dot"
I can use a system provided complication to get the number of unread notifications.

I can then hide the system notification dot and implement mine somewhere where it fits

[2020-06-07 19:24] CorvetteCole opened #47 "Option to brighten up the info bar in ambient mode"
Some users have commented on the gray of the info bar in ambient mode can be too dark to see.

Either provide an option to darken it in ambient (on by default) or consider making it not darken and just stay white

[2020-06-07 19:24] CorvetteCole opened #48 "option to disable ambient mode switching"
Some users have expressed their desire for the watch face to not switch to an outlined ambient mode version and instead be the active version all the time. This is how the watch face was originally and should be an option

[2020-06-07 19:46] davwheat commented on #45
Perfect!

[2020-06-07 20:41] CorvetteCole commented on #31
fixed in https://github.com/CorvetteCole/PixelWatchFace/commit/5cd496ac1659be43129189cd84dc81850338b784

[2020-06-07 20:41] #31 closed

[2020-06-07 20:42] CorvetteCole commented on #48
duplicate of #30

[2020-06-07 20:42] #48 closed

[2020-06-07 21:30] davwheat commented on #45
@CorvetteCole I did just notice that after the data clear, weather has disappeared. My data is still in the phone app, but I can't actually see it on the watch.

[2020-06-07 21:58] CorvetteCole commented on #45
can you try changing a setting in the phone to re-sync your settings?

On Sun, Jun 7, 2020, 5:30 PM David Wheatley <notifications@github.com>
wrote:

[2020-06-07 22:06] davwheat commented on #45
I've tried that already (as the WearOS logo wasn't showing either). My other settings (such as European date format) applied fine after clearing the watch app data.

[2020-06-07 22:09] CorvetteCole commented on #45
So this new version also automagically sets some settings by default (24 hour time, European date format, Celsius temperature) based on your region and device settings. Is it not responding to any settings changes?

[2020-06-07 22:21] davwheat commented on #45
It responds to my changes, but I cannot toggle weather on and off to "resync" it as it was disabled.

[2020-06-07 22:23] CorvetteCole commented on #45
is the unlock now button present for the in-app purchase?

On Sun, Jun 7, 2020, 6:21 PM David Wheatley <notifications@github.com>
wrote:

[2020-06-07 22:26] davwheat commented on #45
Yes, but my dark sky settings are still present.

[2020-06-07 22:28] CorvetteCole commented on #45
what happens when you click it again? This purchase is non-consumable so it
is impossible to be charged twice, don't worry.

On Sun, Jun 7, 2020, 6:26 PM David Wheatley <notifications@github.com>
wrote:

[2020-06-07 22:30] CorvetteCole commented on #45
I think this might be related to becoming an internal tester. you should
see test cards you can use, use the one that approves instantly. This may
not be a bug at all

On Sun, Jun 7, 2020, 6:26 PM David Wheatley <notifications@github.com>
wrote:

[2020-06-07 22:30] davwheat commented on #45
Ah, I thought it was going to remain free for existing weather users

https://github.com/CorvetteCole/PixelWatchFace/issues/32#issuecomment-623020971

[2020-06-07 22:31] davwheat commented on #45
No test cards appear -- I think those are only for you as you're the app developer.

[2020-06-07 22:34] CorvetteCole commented on #45
oh you haven't purchased the weather unlock. I see. It would be quite
involved to restrict my weather providers to ONLY use Dark Sky. The way
I've built the system is so that with Dark Sky in use the other 5 weather
providers are also available as fallbacks in case Dark Sky fails for
whatever reason. Massive redundancy so we never have API issues again

On Sun, Jun 7, 2020, 6:30 PM David Wheatley

[2020-06-07 22:56] CorvetteCole commented on #45
Do you need a code to unlock the weather? I understand not everybody can purchase it

[2020-06-07 23:23] davwheat commented on #45
No, don't worry. It's not a priority as I can still use the weather tile on WearOS. It's just a thing that's nice to have. Thanks for offering, though.

[2020-06-10 12:41] Daninator1 opened #49 "Broken WearOS Icon"
App Version: 1.5.5

After updating to the new version, the wear os icon looks broken, maybe some kind of anti aliasing problem? Also affects ambient mode.

![screenshot](https://user-images.githubusercontent.com/2072948/84268632-40a7c600-ab28-11ea-8817-85e8038f4bbe.png)

[2020-06-10 13:12] davwheat commented on #49
Can't reproduce on internal testing branch.

[2020-06-10 14:55] CorvetteCole commented on #28
we can use geocoder to get coordinates for an address. So perhaps instead of coordinate support I just allow you to enter an address in the phone app?

[2020-06-10 14:57] CorvetteCole commented on #49
@Daninator1 What watch do you have? For some reason I am only getting reports from those with a Ticwatch C2. This appears to be a canvas scaling bug with the new hardware acceleration I introduced in this update, I'm looking in to a fix

[2020-06-10 16:48] KenMizz commented on #28
ok:)

[2020-06-10 18:40] Daninator1 commented on #49
I own a Ticwatch E2 so this may be the reason.
I can also test builds on my watch if needed for a fix.

[2020-06-11 05:10] jpwinnerjr commented on #49
Icon issue is also present on TicWatch Pro 4G/LTE

[2020-06-11 05:37] CorvetteCole commented on #49
This issue appears to only present itself on TicWatch devices so far... I
may disable hardware acceleration on those devices. Or maybe globally, it
doesn't have a huge performance impact. Working on a fix....

On Thu, Jun 11, 2020 at 1:10 AM jpwinnerjr <notifications@github.com> wrote:

[2020-06-12 17:14] Daninator1 commented on #27
Don't know if still relevant but I would also be interested in helping with the redesign. Only have a little bit of background in Android App development but am eager to learn and improve. 🙂

[2020-06-12 18:50] Daninator1 commented on #30
As disabling ambient mode would be undesirable for most people, I would rather suggest you use an app like https://play.google.com/store/apps/details?id=strange.watch.utility.cola to disable the ambient mode globally if this is really something you would want.

[2020-06-12 18:57] sma11stars commented on #30
Thanks! this looks like it will do the trick!

-Michael DeRosa
youtube.com/smallstars

On Fri, Jun 12, 2020 at 2:51 PM Daniel Zauner <notifications@github.com>
wrote:

[2020-06-12 20:02] Daninator1 commented on #30
I think this issue can be closed then @CorvetteCole?

[2020-06-14 00:14] CorvetteCole commented on #27
@Daninator1 I still haven't worked out the UI design but I'm going to be doing some sketches and coming up with it. The new app will adhere to the Android Architecture Components fully so should be easy to add on to. I'll share design mockups here, and you can too if you have any ideas

[2020-06-14 14:57] Daninator1 commented on #27
Alright, will do! Do you plan on moving over to Kotlin as well when doing the rewrite or stay with Java?

[2020-06-14 15:31] CorvetteCole commented on #27
I'm staying with Java because I don't know Kotlin as well. Also I feel like
Java is more widely known and therefore makes the project more approachable
to outsiders

On Sun, Jun 14, 2020, 10:57 AM Daniel Zauner <notifications@github.com>
wrote:

[2020-06-14 15:35] Daninator1 commented on #27
Got you. Currently taking a look at the Android Architecture Components to see how the current feature set of the phone app could work with that.

[2020-06-14 18:54] CorvetteCole commented on #30
@Daninator1 being out of ambient causes the OS to use more power as well. I think there is still merit to an always on mode that preserves the OS ambient mode optimizations

[2020-06-14 19:15] #47 closed

[2020-06-14 19:20] #40 closed

[2020-06-14 19:22] CorvetteCole commented on #39
This ANR seems to not exist in the 1.5.5 release. Likely due to structural code changes. Closing for now...

[2020-06-14 19:22] #39 closed

[2020-06-14 19:33] CorvetteCole opened #53 "Battery percentage sometimes displays 0%"
I do not yet know how to reproduce this consistently, but calling setActiveComplications(BATTERY_COMP_ID); fixes it.

[2020-06-14 19:40] Daninator1 commented on #30
So basically you're talking about leaving the whole watchface unchanged visually but still switch to ambient mode when necessary?

[2020-06-14 19:43] CorvetteCole commented on #30
@Daninator1 Essentially, yes. The OS limits background activity etc to save battery so this would be a good move.

[2020-06-17 05:01] CorvetteCole commented on #49
@Daninator1 is this issue still present in the current beta? Thanks

[2020-06-17 14:23] Daninator1 commented on #49
Just joined the beta as I didn't know there was one available but haven't received a new build yet. Problem on Google's side or didn't the beta deployment work correctly?

[2020-06-17 14:27] davwheat commented on #49
After joining, it should appear as an app update on your phone and/or
watch. :)

[2020-06-17 14:29] Daninator1 commented on #49
Yeah I know, however after a couple of hours there's still no new version available. Do you have the version number of the beta so I can recheck?

[2020-06-17 14:35] davwheat commented on #49
On my watch, the version is `1.5.5.2`, and on my phone it's `1.5.5.1` (strangely).

I'm also an internal tester, not a beta tester so it might be a version behind or something.

[2020-06-17 14:38] Daninator1 commented on #49
Thanks, I got `1.5.5.1` on both of them so the beta version on Google Play hasn't been deployed yet it seems 🤔

[2020-06-17 18:18] CorvetteCole commented on #49
@davwheat the phone is still on 1.5.5.1 because there is no update for it. I can update the apps individually which can lead to somewhat confusing versioning. I try to keep them roughly the same

[2020-06-17 19:09] Daninator1 commented on #49
Okay I got it, as the update only concerned the wear app it also only showed up on the Play Store on my watch, not my phone. Regarding the bug, it's fixed now!

[2020-06-18 16:32] CorvetteCole commented on #49
Hardware acceleration disabled for now to resolve this bug

[2020-06-18 16:32] #49 closed

[2020-06-22 12:55] mucke5 opened #54 "Improve your watch face performance with hardware acceleration"
Is this perhaps interesting or not necessary?
https://developer.android.com/training/wearables/watch-faces/hardware-acceleration

[2020-06-22 12:59] CorvetteCole commented on #54
Hardware acceleration was introduced in the 1.5.5 update but I have turned it back off in the 1.5.5.2 update due to bitmap rendering issues on Ticwatch devices. I am looking in to ways to work around this, but the performance change is fairly minimal with my watch face

[2020-06-22 12:59] #54 closed

[2020-06-22 13:47] CorvetteCole opened #55 "Purchases aren't automatically refreshed"
Users must force a refresh by clicking the unlock now button again on a fresh install. This is bad design

[2020-06-24 18:55] CorvetteCole opened #56 "Google assistant on WearOS icon click"
activate Google assistant when clicking the WearOS icon

[2020-08-03 06:25] musiphil opened #57 "Multi-timezone support"
First of all, thank you a lot for the great watch face!

I've been enjoying Pixel Watch Face for a long time, but recently I was feeling the need for a 2nd (or even 3rd) timezone. I've started looking for a watch face with multi-timezone support, but haven't found a satisfying one, and also thought I'd be sad to leave Pixel Watch Face for that.

It would certainly accompany some design choices and

[2020-08-10 13:59] CorvetteCole commented on #57
That is a very interesting idea... It's not a high priority right now but
I'd like to have this

On Mon, Aug 3, 2020 at 2:26 AM musiphil <notifications@github.com> wrote:

[2020-08-14 10:56] ghost commented on #15
![Wear OS Screenshot](https://user-images.githubusercontent.com/64486851/90293190-7005e680-de7b-11ea-860c-84791513955f.jpg)
Hello.
The recent update has caused a bit of a time size issue. Please see the attached file.
I use Fossil Q Marshall watch.
Could you please review and advise?
Many thanks.

[2020-08-14 10:59] davwheat commented on #15
@AntoninHrbatsch there's no attached file

[2020-08-14 11:05] ghost commented on #15
Hi David.

I am not sure what happened, I selected it twice.

I've attached it to this email.
Hope that helps!

Kind regards
Antonin

On Fri, 14 Aug 2020, 12:00 pm David Wheatley, <notifications@github.com>
wrote:

[2020-08-14 11:44] davwheat commented on #15
@AntoninHrbatsch That would be the issue. GitHub doesn't support attachments via email reply. You need to open it in your browser and select the image manually

[2020-08-14 11:52] ghost commented on #15
I see.
Well, at least you have the picture now, hopefully you can update the again
as i have been using the Face without issues for a whole now...

Thank you!

Kind regards
Antonin

On Fri, 14 Aug 2020, 12:44 pm David Wheatley, <notifications@github.com>
wrote:

[2020-08-14 21:03] CorvetteCole commented on #15
@AntoninHrbatsch can you please attach the image to github manually here so I can see your issue?

[2020-08-14 21:14] ghost commented on #15
No worries, I have updated my original post.
Please do let me if you require any further info.

[2020-08-26 09:02] motorro opened #58 "Feature request: colored battery level"
It will be great if battery indicator changes color when battery is depleting.
Like become red when 15% or with some steps like yellow at 20% and red at 10%.
IMHO it will be easier to guess the level at a glance.
Thanks a lot!

[2020-08-27 18:19] CorvetteCole commented on #58
This is not a bad idea and will be included in the 1.7.0 release. Still working on 1.6.0!

[2020-08-27 18:20] CorvetteCole commented on #57
I will be adding this hopefully in the 1.7.0 release. After 1.6.0, big new UI changes should be much easier

[2020-08-27 18:20] CorvetteCole commented on #55
This will be fixed with the new phone app in 1.6.0

[2020-08-27 18:21] CorvetteCole commented on #44
I will evaluate this further for the 1.7.0 release after 1.6.0 is out

[2020-08-27 18:22] CorvetteCole commented on #5
this will be included in 1.7.0

[2020-08-27 18:23] CorvetteCole commented on #22
this was closed by https://github.com/CorvetteCole/PixelWatchFace/pull/50

[2020-08-27 18:23] #22 closed

[2020-08-27 18:28] CorvetteCole opened #59 "7 day weather free trial"
allow free trial so users can decide to purchase or not

[2020-08-27 18:29] CorvetteCole opened #60 "localization support"
create a project with Crowdin etc for localizations

[2020-08-27 19:43] CorvetteCole commented on #27
@Daninator1 long delay on this, but I'm starting the rewrite now. I will be creating a new branch for the rewrite. I have a VERY rough initial first design draft I will share below. I have a lot of iteration to do, but I welcome your feedback :)
[New Phone App.pdf](https://github.com/CorvetteCole/PixelWatchFace/files/5138464/New.Phone.App.pdf)

[2020-08-28 13:20] Daninator1 commented on #27
Great, will check this out asap! :)
I also created a prototype a while ago, took a bit of a break in the meantime. Maybe some parts of it can be useful as well.

[2020-08-28 17:26] CorvetteCole commented on #27
@Daninator1 Are you already part of the internal testing group for the app? If not, send the email you'd like to be enrolled to support@corvettecole.com. Or don't if you want a stable app. This redesign is likely to take a month or so to fully implement

[2020-08-28 18:09] Daninator1 commented on #27
No I'm not, will send the mail right away!

[2020-08-29 11:58] CorvetteCole opened #61 "step count display"
display step count in between battery and infobar

[2020-08-30 18:07] comradekingu commented on #60
@CorvetteCole Stay away from Crowdin though, send in a request on https://hosted.weblate.org/hosting/ instead :) AsteroidOS is already on there.

[2020-08-30 18:48] davwheat commented on #60
Out of curiosity, what's wrong with Crowdin?

[2020-08-31 19:33] CorvetteCole commented on #60
I second this @comradekingu . I've used Crowdin in the past and they are good to open source projects

[2020-08-31 23:24] comradekingu commented on #60
@davwheat @CorvetteCole
What happens is their effort to gain following that way sublicenses strings into their closed translation memory.
Insofar as such projects are copylefted (like this one), that extracts the work of unsuspecting libre software translators into something that is fundamentally not. Moreover, the plan to do this is only available to non-commercial projects. This means the accumu

[2020-09-01 18:23] CorvetteCole commented on #60
Thank you @comradekingu very much for this write up. I will be staying away from Crowdin and will either self-host or request gratis hosting from the link you provided. Privacy is a big deal for me and that is definitely not acceptable

[2020-09-01 18:40] davwheat commented on #53
Seems to happen after you just start the watch or after something causes the system to 'hang', almost as if System UI is crashing.

[2020-09-01 18:49] CorvetteCole commented on #53
I think it is a bug with WearOS, I need to put a workaround in that checks if the battery is 0% and if so calls setActiveComplications(BATTERY_COMP_ID);

battery should never be 0% anyways

[2020-09-02 16:17] CorvetteCole opened #62 "thin text setting does not persist after reboot"
as title says

[2020-09-02 16:27] CorvetteCole commented on #62
fixed

[2020-09-02 16:27] #62 closed

[2020-09-02 16:38] CorvetteCole commented on #15
@AntoninHrbatsch can you file this as a separate issue so I can track it better. If you are still having the issue, that is. A fix for this is on the way

[2020-09-11 09:41] tkoyat opened #64 "Why can't debug"
Waiting for application to come online: com.corvettecole.pixelwatchface | com.corvettecole.pixelwatchface.test
Could not connect to remote process. Aborting debug session.

[2020-09-13 22:43] CorvetteCole commented on #64
are you attempting to connect to the watch face or phone app?

[2020-09-22 13:27] barnir opened #65 "Suggestion"
Heya, just leaving a suggestion.
I know you took some time to improve weather but i would suggest an option on companion app to pick from a weather source. So i can for example match the source for "Today Weather" app and my watch. This way i have the same forecast on booth devices.

[2020-09-22 20:48] CorvetteCole commented on #65
It is quite likely that I cannot implement this. I put so much work in to the weather system so that I wouldn't need to charge a subscription or run ads to pay for API access. I pull data from only free sources, so I don't think it is feasible to implement this. A setting to have a preferred weather provider may be possible though

[2020-11-10 18:42] CorvetteCole opened #66 "Battery full notification"
user requests the option to get a notification on their phone when their watch is fully charged

[2020-12-01 22:10] CorvetteCole opened #67 "Some locales may have extraneous characters displayed on the watch face"
See image below for example:
![unnamed](https://user-images.githubusercontent.com/19213965/100802774-ff69e200-33f7-11eb-9e89-01249c1ba347.jpg)

Possible solution, regex out any character that is not a number or colon

[2021-05-22 18:21] yashdavisgupta opened #68 "PixelWatchFace is no longer on the Play Store"
PixelWatchFace is no longer on the Play Store

[2021-05-24 17:20] CorvetteCole commented on #68
working on it, google removed my application for not adequately explaining why it needed location permission (I previously explained it used location to get the weather).

[2021-05-24 17:34] yashdavisgupta commented on #68
Cool, thanks for the update.

On Mon, May 24, 2021, 1:20 PM Cole Gerdemann ***@***.***>
wrote:

[2021-06-18 19:03] ErsterImChat opened #69 "WearOS Icon looks weird"
The WearOS Icon looks weird. See Picture

To Reproduce
Steps to reproduce the behavior:
Activate the WearOS Icon

**Screenshots**
![IMG_20210618_205855](https://user-images.githubusercontent.com/64809589/122606053-9c305c00-d078-11eb-8d3d-90dff3a86850.jpg)

**Smartphone (please complete the following information):**
 - Device: P Smart Z
 - OS: Android 10
 - PixelWatchFace version :

**Smartwatch (p

[2021-08-11 13:23] MattJeanes opened #70 "Latest APKs are not on GitHub"
As the app is not currently available on the Play Store I tried to install the app from the latest GitHub release but it appears to be an older version than was on the Play Store. Can you please publish a new version with the newest APKs?

[2021-08-12 12:32] CorvetteCole commented on #70
Yes, I will. I will also be fixing the play store ASAP. I've been busy with a summer job and I'm about to move to a new place and start another job with a space company so I've been busy!! I will have time after my move and this app is my top priority. I've actually completed preliminary implementation work for a full rewrite and redesign of the phone app to bring it up to my standards and bring s

[2021-08-12 12:44] davwheat commented on #70
I was actually trying to buy the weather functionality before I realised it said the item was disabled.

People paid for the weather functionality, which still works fine. You've done a very fine job so far and I trust you will do in the future too. :)

[2021-08-12 13:11] AmyJeanes commented on #70
As a workaround I managed to compile it myself with by own OpenWeatherMap API key, I would share the APKs here but it will include my API key. Thank you for the update and no worries, the app still works great! I hope you can resolve the issue with the Play Store soon

[2021-10-01 09:34] Selljo commented on #70
I just had to reset my watch and my phone and I started to get very worried about where this app went. Glad to hear life is keeping you busy and congrats on the job! Looking forward to using this app when it's available, thanks for all the hard work and time and effort!

[2021-11-02 13:22] KayriLynn commented on #68
I just switched phones and looked for your app on the Play Store and couldn't find it with my new phone, old phone, watch or computer. Is this an ongoing issue? I'm sad, because your watch face is my favorite!

[2022-06-07 20:50] ELY3M commented on #68
why not put it on fdroid.org?

[2022-06-08 05:29] CorvetteCole commented on #68
it isn't on f-droid because unfortunately I rely on some Google wearable APIs to actually transmit data between the watch and phone. I am going to fix the play store listing, and later I may complete the rewrite of the phone settings.

I have been busy working at an aerospace company, so I haven't had much time for this project but I will try to actually get to it rather than pushing it off

[2022-06-17 20:12] michaelteck commented on #68
Thank you, @CorvetteCole , this is my favorite watch face and, since upgrading my phone, I am anxiously waiting to load the face back to my watch.

[2022-06-17 20:17] michaelteck commented on #26
I "vote" for this, too. I use seconds to set other clocks. When you get back to it, could it be a setting to toggle off or on?

[2022-06-18 03:41] CorvetteCole commented on #68
I'm gonna give you all a timeline instead of leaving it hanging. I'll have this back on the Play Store by July 4th! Will try to get back in to this project after it is on the Play Store. I did have some cool ideas I wanted to finish before I got burned out

[2022-06-20 15:54] michaelteck commented on #68
I'll go out on a limb on behalf of others: We greatly appreciate it!

[2022-06-23 03:43] yashdavisgupta commented on #68
@CorvetteCole If you create issues that detail what you want to see, I can help implement some features. Excited to see it back on the play store as well.

[2022-06-24 00:54] CorvetteCole commented on #68
@yashdavisgupta I can publish some of my technical drawings and plans after it's back on the Play store.

basically the phone app will be rewritten in flutter, with a new architecture where watch settings are stored on the watch as an authoritative source. This makes the companion application a client to the watch "server".

The watch will store the available settings and setting structure and the

[2022-06-24 00:55] CorvetteCole commented on #68
...currently working at a space company writing software that runs on the ISS so I'll have to do this in a sustainable fashion (to prevent burnout again)

[2022-07-04 21:00] CorvetteCole commented on #68
and we're off... changes sent for review. The app was already 99% compliant I think this was a mixture of burnout and becoming very busy very fast. Thanks for the patience of everybody here. By the way, I will be rebranding soon from cole.dev to UserFriendly.dev since I recently managed to purchase that domain (and cole.dev hyperlinks to another guys website which really brings me down :(  ).

I w

[2022-07-04 21:06] CorvetteCole commented on #68
Honestly for not being touched in nearly 2 years the code held up rather well. I'm not really criticizing myself there too much. Definitely some rewrite tasks to be done a little on the watch face and the phone app needs a full rehaul. I guess I'll finally be able to use "2.0" as a release version!

[2022-07-06 14:06] CorvetteCole commented on #68
update: rejected again, although I think this is a bug in their system since it is reviewing the wrong artifact. will work on this later today

[2022-07-15 04:35] CorvetteCole commented on #68
update: this weekend I am submitting a new update which should hopefully be approved. I had to update a few APIs and had one potential pendingintent vulnerability. This should be back online soon!

[2022-09-30 20:18] michaelteck commented on #68
Hey @CorvetteCole! I hope all is well with you and you are just busy with more important things. Is there anything new for us fans of your Pixel Watch Face?

[2022-10-04 17:19] CorvetteCole commented on #68
Yeah, sorry, I'm pretty frustrated right now. Have had a few updates rejected. I've also simultaneously gotten insanely busy elsewhere. I've been working on a secret project to allow me to write watch faces in Flutter (I will release it independently). Basically the plan is to use this vastly simplified dev process to entirely rewrite both the watch face and companion app, and integrate Material Y